In [1]:
import pandas as pd
import pandas_datareader.wb as wb

data1 = wb.download(
    indicator='SE.PRM.TENR',
    country=['all'],
    start='2002',
    end='2016'
)

print type(data1)
print data1.shape

<class 'pandas.core.frame.DataFrame'>
(3960, 1)

In [2]:
data1.head()

                 SE.PRM.TENR
country    year
Arab World 2016    84.287102
           2015    83.992043
           2014    83.576286
           2013    84.109238
           2012    85.443069

In [4]:
data2 = data1.reset_index()
data2.head()

      country  year  SE.PRM.TENR
0  Arab World  2016    84.287102
1  Arab World  2015    83.992043
2  Arab World  2014    83.576286
3  Arab World  2013    84.109238
4  Arab World  2012    85.443069

In [5]:
data2.shape

(3960, 3)

In [8]:
data2.country.unique()

array([u'Arab World', u'Caribbean small states',
       u'Central Europe and the Baltics', u'Early-demographic dividend',
       u'East Asia & Pacific',
       u'East Asia & Pacific (excluding high income)',
       u'East Asia & Pacific (IDA & IBRD countries)', u'Euro area',
       u'Europe & Central Asia',
       u'Europe & Central Asia (excluding high income)',
       u'Europe & Central Asia (IDA & IBRD countries)', u'European Union',
       u'Fragile and conflict affected situations',
       u'Heavily indebted poor countries (HIPC)', u'High income',
       u'IBRD only', u'IDA & IBRD total', u'IDA blend', u'IDA only',
       u'IDA total', u'Late-demographic dividend',
       u'Latin America & Caribbean',
       u'Latin America & Caribbean (excluding high income)',
       u'Latin America & the Caribbean (IDA & IBRD countries)',
       u'Least developed countries: UN classification',
       u'Low & middle income', u'Low income', u'Lower middle income',
       u'Middle East & North Africa',
       u'Middle East & North Africa (excluding high income)',
       u'Middle East & North Africa (IDA & IBRD countries)',
       u'Middle income', u'North America', u'Not classified',
       u'OECD members', u'Other small states',
       u'Pacific island small states', u'Post-demographic dividend',
       u'Pre-demographic dividend', u'Small states', u'South Asia',
       u'South Asia (IDA & IBRD)', u'Sub-Saharan Africa',
       u'Sub-Saharan Africa (excluding high income)',
       u'Sub-Saharan Africa (IDA & IBRD countries)',
       u'Upper middle income', u'World', u'Afghanistan', u'Albania',
       u'Algeria', u'American Samoa', u'Andorra', u'Angola',
       u'Antigua and Barbuda', u'Argentina', u'Armenia', u'Aruba',
       u'Australia', u'Austria', u'Azerbaijan', u'Bahamas, The',
       u'Bahrain', u'Bangladesh', u'Barbados', u'Belarus', u'Belgium',
       u'Belize', u'Benin', u'Bermuda', u'Bhutan', u'Bolivia',
       u'Bosnia and Herzegovina', u'Botswana', u'Brazil',
       u'British Virgin Islands', u'Brunei Darussalam', u'Bulgaria',
       u'Burkina Faso', u'Burundi', u'Cabo Verde', u'Cambodia',
       u'Cameroon', u'Canada', u'Cayman Islands',
       u'Central African Republic', u'Chad', u'Channel Islands', u'Chile',
       u'China', u'Colombia', u'Comoros', u'Congo, Dem. Rep.',
       u'Congo, Rep.', u'Costa Rica', u"Cote d'Ivoire", u'Croatia',
       u'Cuba', u'Curacao', u'Cyprus', u'Czech Republic', u'Denmark',
       u'Djibouti', u'Dominica', u'Dominican Republic', u'Ecuador',
       u'Egypt, Arab Rep.', u'El Salvador', u'Equatorial Guinea',
       u'Eritrea', u'Estonia', u'Eswatini', u'Ethiopia', u'Faroe Islands',
       u'Fiji', u'Finland', u'France', u'French Polynesia', u'Gabon',
       u'Gambia, The', u'Georgia', u'Germany', u'Ghana', u'Gibraltar',
       u'Greece', u'Greenland', u'Grenada', u'Guam', u'Guatemala',
       u'Guinea', u'Guinea-Bissau', u'Guyana', u'Haiti', u'Honduras',
       u'Hong Kong SAR, China', u'Hungary', u'Iceland', u'India',
       u'Indonesia', u'Iran, Islamic Rep.', u'Iraq', u'Ireland',
       u'Isle of Man', u'Israel', u'Italy', u'Jamaica', u'Japan',
       u'Jordan', u'Kazakhstan', u'Kenya', u'Kiribati',
       u'Korea, Dem. People\u2019s Rep.', u'Korea, Rep.', u'Kosovo',
       u'Kuwait', u'Kyrgyz Republic', u'Lao PDR', u'Latvia', u'Lebanon',
       u'Lesotho', u'Liberia', u'Libya', u'Liechtenstein', u'Lithuania',
       u'Luxembourg', u'Macao SAR, China', u'Madagascar', u'Malawi',
       u'Malaysia', u'Maldives', u'Mali', u'Malta', u'Marshall Islands',
       u'Mauritania', u'Mauritius', u'Mexico', u'Micronesia, Fed. Sts.',
       u'Moldova', u'Monaco', u'Mongolia', u'Montenegro', u'Morocco',
       u'Mozambique', u'Myanmar', u'Namibia', u'Nauru', u'Nepal',
       u'Netherlands', u'New Caledonia', u'New Zealand', u'Nicaragua',
       u'Niger', u'Nigeria', u'North Macedonia',
       u'Northern Mariana Islands', u'Norway', u'Oman', u'Pakistan',
       u'Palau', u'Panama', u'Papua New Guinea', u'Paraguay', u'Peru',
       u'Philippines', u'Poland', u'Portugal', u'Puerto Rico', u'Qatar',
       u'Romania', u'Russian Federation', u'Rwanda', u'Samoa',
       u'San Marino', u'Sao Tome and Principe', u'Saudi Arabia',
       u'Senegal', u'Serbia', u'Seychelles', u'Sierra Leone',
       u'Singapore', u'Sint Maarten (Dutch part)', u'Slovak Republic',
       u'Slovenia', u'Solomon Islands', u'Somalia', u'South Africa',
       u'South Sudan', u'Spain', u'Sri Lanka', u'St. Kitts and Nevis',
       u'St. Lucia', u'St. Martin (French part)',
       u'St. Vincent and the Grenadines', u'Sudan', u'Suriname',
       u'Sweden', u'Switzerland', u'Syrian Arab Republic', u'Tajikistan',
       u'Tanzania', u'Thailand', u'Timor-Leste', u'Togo', u'Tonga',
       u'Trinidad and Tobago', u'Tunisia', u'Turkey', u'Turkmenistan',
       u'Turks and Caicos Islands', u'Tuvalu', u'Uganda', u'Ukraine',
       u'United Arab Emirates', u'United Kingdom', u'United States',
       u'Uruguay', u'Uzbekistan', u'Vanuatu', u'Venezuela, RB',
       u'Vietnam', u'Virgin Islands (U.S.)', u'West Bank and Gaza',
       u'Yemen, Rep.', u'Zambia', u'Zimbabwe'], dtype=object)

In [9]:
data4 = data2[data2.country=='Brazil']
data4

     country  year  SE.PRM.TENR
1095  Brazil  2016    97.202019
1096  Brazil  2015    96.852310
1097  Brazil  2014    97.436203
1098  Brazil  2013    97.323891
1099  Brazil  2012    98.549927
1100  Brazil  2011    95.697182
1101  Brazil  2010          NaN
1102  Brazil  2009    96.585083
1103  Brazil  2008    98.538307
1104  Brazil  2007    92.474113
1105  Brazil  2006          NaN
1106  Brazil  2005    96.079933
1107  Brazil  2004    95.585312
1108  Brazil  2003    94.295059
1109  Brazil  2002    96.727409

In [13]:
max_index = data2.groupby(['country'])['SE.PRM.TENR'].transform(max)==data2['SE.PRM.TENR']

In [14]:
data3 = data2[max_index]
data3

                                                country  year  SE.PRM.TENR
6                                            Arab World  2010    85.988739
21                               Caribbean small states  2010    94.548073
36                       Central Europe and the Baltics  2010    95.899269
45                           Early-demographic dividend  2016    93.836472
74                                  East Asia & Pacific  2002    97.411827
89          East Asia & Pacific (excluding high income)  2002    97.396591
104          East Asia & Pacific (IDA & IBRD countries)  2002    97.403770
114                                           Euro area  2007    98.898529
121                               Europe & Central Asia  2015    97.208389
136       Europe & Central Asia (excluding high income)  2015    95.626328
150        Europe & Central Asia (IDA & IBRD countries)  2016    95.615227
168                                      European Union  2013    98.248863
180            Fragile and conflict affected situations  2016    75.993263
195              Heavily indebted poor countries (HIPC)  2016    80.618111
218                                         High income  2008    97.639259
226                                           IBRD only  2015    96.330162
240                                    IDA & IBRD total  2016    90.521278
255                                           IDA blend  2016    76.178101
270                                            IDA only  2016    82.007141
285                                           IDA total  2016    80.163322
312                           Late-demographic dividend  2004    97.985977
320                           Latin America & Caribbean  2011    96.272697
335   Latin America & Caribbean (excluding high income)  2011    96.222321
350   Latin America & the Caribbean (IDA & IBRD coun...  2011    96.291328
362        Least developed countries: UN classification  2014    81.750427
375                                 Low & middle income  2016    90.440910
392                                          Low income  2014    80.258217
405                                 Lower middle income  2016    90.539879
424                          Middle East & North Africa  2012    95.509003
441   Middle East & North Africa (excluding high inc...  2010    95.227501
...                                                 ...   ...          ...
3478                     St. Vincent and the Grenadines  2003    99.483063
3480                                              Sudan  2016    59.569561
3495                                           Suriname  2016    94.714272
3512                                             Sweden  2014    99.710449
3525                                        Switzerland  2016    99.759949
3551                               Syrian Arab Republic  2005    99.195290
3561                                         Tajikistan  2010    98.372681
3578                                           Tanzania  2008    94.371567
3595                                           Thailand  2006    98.891937
3605                                        Timor-Leste  2011    92.681282
3616                                               Togo  2015    96.570747
3631                                              Tonga  2015    99.937958
3651                                Trinidad and Tobago  2010    98.733513
3664                                            Tunisia  2012    99.893646
3684                                             Turkey  2007    98.511467
3722                                             Tuvalu  2014    99.660919
3738                                             Uganda  2013    90.997993
3764                                            Ukraine  2002    96.336632
3765                               United Arab Emirates  2016    97.178650
3791                                     United Kingdom  2005    99.998619
3803                                      United States  2008    97.347359
3820                                            Uruguay  2006    99.947319
3825                                         Uzbekistan  2016    97.505051
3853                                            Vanuatu  2003    99.671730
3859                                      Venezuela, RB  2012    93.656174
3875                                            Vietnam  2011    99.400879
3902                                 West Bank and Gaza  2014    93.203773
3918                                        Yemen, Rep.  2013    84.977081
3934                                             Zambia  2012    90.125313
3949                                           Zimbabwe  2012    88.063423

[229 rows x 3 columns]