In [4]:
import pandas_datareader.wb as wb
result1=wb.search(string='SE.PRM.TENR', field='id')

In [6]:
result1

,id,name,source,sourceNote,sourceOrganization,topics,unit
10182,SE.PRM.TENR,"Adjusted net enrollment rate, primary (% of pr...",World Development Indicators,Adjusted net enrollment is the number of pupil...,UNESCO Institute for Statistics (http://uis.un...,Education,
10183,SE.PRM.TENR.FE,"Adjusted net enrollment rate, primary, female ...",World Development Indicators,Adjusted net enrollment is the number of pupil...,UNESCO Institute for Statistics (http://uis.un...,Education ; Gender,
10184,SE.PRM.TENR.MA,"Adjusted net enrollment rate, primary, male (%...",World Development Indicators,Adjusted net enrollment is the number of pupil...,UNESCO Institute for Statistics (http://uis.un...,Education ; Gender,

In [3]:
result1.shape

(3, 7)

In [4]:
result1.iloc[:,2:]

,source,sourceNote,sourceOrganization,topics,unit
10182,World Development Indicators,Adjusted net enrollment is the number of pupil...,UNESCO Institute for Statistics (http://uis.un...,Education,
10183,World Development Indicators,Adjusted net enrollment is the number of pupil...,UNESCO Institute for Statistics (http://uis.un...,Education ; Gender,
10184,World Development Indicators,Adjusted net enrollment is the number of pupil...,UNESCO Institute for Statistics (http://uis.un...,Education ; Gender,

In [5]:
result1.iloc[:,:2]

                   id                                               name
10182     SE.PRM.TENR  Adjusted net enrollment rate, primary (% of pr...
10183  SE.PRM.TENR.FE  Adjusted net enrollment rate, primary, female ...
10184  SE.PRM.TENR.MA  Adjusted net enrollment rate, primary, male (%...

In [7]:
result1.iloc[:,1]

10182    Adjusted net enrollment rate, primary (% of pr...
10183    Adjusted net enrollment rate, primary, female ...
10184    Adjusted net enrollment rate, primary, male (%...
Name: name, dtype: object

In [8]:
type(result1.iloc[:,1])

pandas.core.series.Series

In [9]:
result1.iloc[0,1]

u'Adjusted net enrollment rate, primary (% of primary school age children)'

In [11]:
result1.iloc[1,1]

u'Adjusted net enrollment rate, primary, female (% of primary school age children)'

In [12]:
result1.iloc[2,1]

u'Adjusted net enrollment rate, primary, male (% of primary school age children)'